<!--Loading page | Main Page for users to load this page -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Title-->
    <title>Emergency Responder System</title>

    <!--title icon-->
    <link rel = "icon" href ="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/000000/external-service-customer-support-sbts2018-flat-sbts2018.png" type = "image/x-icon">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--more info button-->
    <a href="https://github.com/ishanjogalekar" rel="noopener" target="_blank"><button class="top"><i class="fa fa-github">&nbsp More Info </i> </button> </a>
</head>

<!--Body tag-->
<body>
<br><br>
<div class="container my-2">
    <h1>Current Emergencies List</h1>
    <br><br>
    <a th:href="@{/showNewUserForm}"><button class="eme"><i class="fa fa-plus"> &nbsp Add Emergency</i></button></a>
    <br><br><br>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">Responder Name</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">Need</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">Disaster Type</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Contact</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">City</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">District</a>
            </th>
            <th>
                <a th:href="@{'/page/'+${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">State</a>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.RName}"></td>
            <td th:text="${user.need}"></td>
            <td th:text="${user.disas}"></td>
            <td th:text="${user.contact}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.city}"></td>
            <td th:text="${user.district}"></td>
            <td th:text="${user.state}"></td>

        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
<div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60729776067c2605c0c1436a/1f2vpvaeu';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</div>
</body>
</html>
